extends ../shared/layout
block main-content
	#wrapper
		form(method='post' action='/tweet')
			label(for='tweet')
				input(type='textarea' maxlength='140' name='tweet' id='tweet')
			br
			input(type='submit' value='Tweet!')